.container-complaint {

    .complaint-details-header-wrapper {
        .complaint-details-header {
            text-align: center;
            margin-bottom: 0px;
            color: #fff;
            background-color: #3C6CB4;
            border-radius: 10px 10px 0 0;
            padding: 18px 0;
        }

        .complaint-details {
            padding: 28px 28px 44px 28px;
            background-color: #fff;
            display: flex;
            border-radius: 0 0 10px 10px;
        }

        .col-12 {

            form {
                padding: 28px 28px 44px 28px;
                background-color: #fff;
                display: flex;
                border-radius: 0 0 10px 10px;
                /* gap: 32px; */
            }
        }
    }
}



.option-field {
    margin-bottom: 28px;


}

label {
    margin-bottom: 12px;
    /* margin-right: 24px; */
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
}

select {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    background-color: #FFF;
    color: #54595E;
    /* background-color: #fbfbfb; */
    font-size: 14px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    cursor: pointer;
    transition: all .2s ease;
    width: 100%;
}

input {
    border: 1px solid #DEE2E6;
    padding: 8px 0px 8px 14px;
    border-radius: 8px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    transition: all .2s ease;
}