// *{
//     border: 1px dashed red;
// }

.container-complaint {

    .complaint-details-header-wrapper {
        .complaint-details-header {
            text-align: center;
            margin-bottom: 0px;
            color: #fff;
            background-color: #3C6CB4;
            border-radius: 10px 10px 0 0;
            padding: 18px 0;
        }



        .col-12 {

            form {
                padding: 28px 28px 44px 28px;
                background-color: #fff;
                display: flex;
                border-radius: 0 0 10px 10px;
                /* gap: 32px; */
            }
        }
    }

    .complaint-details {
        padding: 28px 28px 44px 28px;
        background-color: #fff;
        display: flex;
        border-radius: 0 0 10px 10px;
        flex-direction: row;
        // flex-wrap: nowrap;
        // align-items: center;

        .option-field {
            margin-bottom: 28px;


        }

        label {
            margin-bottom: 12px;
            /* margin-right: 24px; */
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 15px;
        }

        select {
            padding: 8px 14px;
            border-radius: 8px;
            border: 1px solid #DEE2E6;
            background-color: #FFF;
            color: #54595E;
            /* background-color: #fbfbfb; */
            font-size: 14px;
            /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
            cursor: pointer;
            transition: all .2s ease;
            width: 100%;
        }

        input {
            border: 1px solid #DEE2E6;
            padding: 8px 0px 8px 14px;
            border-radius: 8px;
            /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
            transition: all .2s ease;
        }

        .right {
            .file-upload {

                width: 100%;
                height: 350px;

                #file-upload {
                    width: 100%;
                    border: 1px solid #DEE2E6;
                    padding: 8px 0px 8px 14px;
                    border-radius: 8px;
                    width: 100%;
                    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
                    transition: all .2s ease;
                }

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 10px;
                    border-radius: 8px;
                    border: 1px solid #DEE2E6;
                    background: #F3F3F3;
                    width: 100%;
                    height: 100%;
                    /* min-width: 150px; */
                    /* max-width: 200px; */
                    color: #000;
                    cursor: pointer;
                    font-size: 22px !important;
                    /* white-space: nowrap; */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all 0.2s ease;
                    font-weight: 400 !important;
                    gap: 8px;
                    position: relative;

                    &:hover {
                        background-color: #fff;
                        color: #686868;
                        border-color: lightgray;
                    }

                    .upload-icon {
                        font-size: 48px;

                    }

                    .add-file {
                        color: #000;
                        cursor: pointer;
                        font-size: 22px !important;
                    }

                    .file-description {
                        position: absolute;
                        bottom: 16px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 14px;
                        width: 90%;
                        color: #878787;
                        font-weight: 500;

                        span {
                            font-size: 14px !important;
                            color: #878787;
                            font-weight: 500;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }

    .infos-wrapper {
        padding: 0 15px;
        width: 100%;


        .infos {
            padding: 28px 28px 44px 28px;
            background-color: #fff;
            display: flex;
            border-radius: 0 0 10px 10px;
            /* gap: 32px;*/
            display: flex;
            flex-direction: column;

            #city,
            #district,
            #street {
                width: 100%;
                line-height: 1.5;
                padding: 8px 14px;
                border-radius: 8px;
                border: 1px solid #DEE2E6;
                background: #FFF;
                color: #54595E;
                /* background: #fff !important; */
                font-size: 14px;
                /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
                cursor: pointer;
                transition: all .2s ease;
            }

            .infos-row {

                display: flex;

                .street-wrapper {
                    gap: 20px;

                    .top {
                        display: block;
                        margin: 0;


                    }

                    .addNewStreet {
                        .container_addOption {
                            position: relative;
                            color: #000;

                            input {
                                width: 60px;
                                height: 60px;
                                transition: width 0.3s ease;
                                /* Smooth transition for width change */
                                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                border: 0;
                                outline: 0;
                                padding: 0 0 0 60px;
                            }

                            input.expanded {
                                width: 300px;
                                /* Expanded width */
                            }

                            .icon-street {
                                position: absolute;
                                height: 60px;
                                top: 0;
                                left: 5px;
                                font-size: 48px;

                                .icon-minus {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }

            .home_num_container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;

                .home-apartment {
                    width: 25%;
                    display: flex;
                    gap: 53px;
                    padding: 30px 0;
                    align-items: center;
                    justify-content: flex-start;

                    label {
                        margin-right: 4px;
                        display: block;
                        margin-bottom: 6px;
                    }

                    input {
                        border: 1px solid #DEE2E6;
                        padding: 8px 0px 8px 14px;
                        border-radius: 8px;
                        width: 100%;
                        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
                        transition: all .2s ease;
                    }

                    .house,
                    .flat {
                        width: 25%;
                    }

                    .divider-line {
                        width: 1px;
                        background-color: #DEE2E6;
                        height: 100px;
                        transform: rotate(25deg);
                    }
                }

                .number {
                    width: 35%;

                    .input-group {
                        position: relative;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        width: 100%;
                        gap: 3px;

                        .custom-select {
                            background-color: transparent;
                            padding: 8px 2px;
                            border: 1px solid #d0d0d0;
                            border-radius: 5px;
                            border-top-left-radius: 5px !important;
                            border-bottom-left-radius: 5px !important;
                        }

                        #complainant_contact_number {
                            border: 1px solid #d0d0d0;
                            border-radius: 5px;
                            outline: none;
                            padding: 8px 8px;
                        }
                    }
                }

                .tel {
                    width: 20%;

                    #stasionar_phone {
                        width: 100%;
                        border: 1px solid #d0d0d0;
                        border-radius: 5px;
                        outline: none;
                        padding: 8px 8px;
                    }

                }

                .poct {
                    width: 20%;

                    #email {
                        width: 100%;
                        border: 1px solid #d0d0d0;
                        border-radius: 5px;
                        outline: none;
                        padding: 8px 8px;
                    }
                }
            }
        }
    }

    .submit-btn {
        width: 100%;

        button {
            background-color: #3C6CB4;
            color: #FFF;
            height: 50px;
        }

        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .container-complaint {
        .complaint-details-header-wrapper {
            .complaint-details-header {
                font-size: 18px
            }
        }

        .complaint-details {
            padding: 20px 5px;
        }
    }

    .infos {
        padding: 0 !important;

        .home_num_container {

            .home-apartment {
                width: 90% !important;
                flex-wrap: wrap;
            }

            display: flex;
            flex-wrap: wrap;

            .divider-line {
                display: none;
            }

            .house,
            .flat {
                width: 100% !important;

                input {
                    width: 100% !important;
                }
            }
        }
    }

    .center {
        margin-bottom: 20px;
    }

    .right {
        .file-upload {
            height: auto !important;

            label {
                // height: 150px !important;
            }
        }
    }



    .number {
        width: 100% !important;

        input {
            width: 80%;
        }
    }

    .tel,
    .poct {
        width: 100% !important;

        input {
            width: 100% !important;
        }
    }

    .poct {
        margin-bottom: 20px;
    }

    .infos-row {
        .street-wrapper {
            flex-wrap: wrap;

            .top {
                display: flex;
                flex-direction: column;
            }

            .addNewStreet {
                width: 100%;

                .container_addOption {
                    .expanded {
                        width: 100% !important;
                    }
                }
            }
        }
    }

}

@media (min-width: 500px) and (max-width: 756px) {
    .center {
        margin-bottom: 20px;
    }

    .right {
        .file-upload {
            height: auto !important;

            label {
                // height: 150px !important;
            }
        }
    }

    .home-apartment {
        width: 90% !important;

        .house,
        .flat {
            width: 50% !important;
        }
    }

    .number {
        width: 100% !important;

        input {
            width: 80%;
        }
    }

    .tel,
    .poct {
        width: 100% !important;

        input {
            width: 100% !important;
        }
    }

    .infos-row {
        .street-wrapper {
            flex-wrap: wrap;

            .top {
                display: flex;
                flex-direction: column;
            }

            .addNewStreet {
                width: 100%;

                .container_addOption {
                    .expanded {
                        width: 100% !important;
                    }
                }
            }
        }
    }


}

@media (min-width: 756px) and (max-width: 1200px) {
    .right {
        .file-upload {
            height: auto !important;

            label {
                // height: 150px !important;
            }
        }
    }

    .home-apartment {
        width: 90% !important;

        .house,
        .flat {
            width: 50% !important;
        }
    }

    .number {
        width: 100% !important;

        input {
            width: 50%;
        }
    }

    .tel,
    .poct {
        width: 100% !important;

        input {
            width: 100% !important;
        }
    }

    .infos-row {
        .street-wrapper {
            display: flex;
            flex-direction: row;

            .top {
                width: 50%;
                display: flex;
                flex-direction: column;
            }

            .addNewStreet {
                width: 50%;
            }
        }
    }
}