.top {

    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .buttons {
        gap: 30px;

        a {
            color: white;
            background-color: #3C6CB4;
            padding: 5px 15px;
            border-radius: 20px;
            text-decoration: none;
            margin: 10px;

        }
    }

    .search {
        display: flex;
        align-items: center;
        border: 1px solid gray;
        border-radius: 20px;
        padding: 3px 10px;
        overflow: hidden;

        label {
            font-size: 25px;
        }

        input {
            border: none;
            outline: none;
        }
    }
}

.center {
    margin: 50px 20px;

    table {
        width: 100%;

        thead {

            tr {
                background-color: #3C6CB4;
                padding: 20px 0;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                flex-wrap: nowrap;

                th {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    color: white;
                    // max-width: 155px;
                    height: 35px;
                    width: 12.6%;

                    button {
                        background-color: transparent;
                        border: 0;
                        color: white;

                        &:focus {
                            color: red;
                        }
                    }


                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                }

                th:not(:last-child) {
                    border-right: 1px solid white;

                }





            }
        }

        tbody {
            tr {
                display: flex;
                // flex-wrap: nowrap;

                td {
                    padding: 10px 0;
                    width: 12.6%;
                    text-align: center;

                }
            }
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;


    .dataTable_paginate {
        display: flex;

        span {
            padding: 5px 13px;
            font-weight: 600;
        }
    }

    a {
        color: white;
        padding: 10px;
        font-size: 20px;
        background-color: #3C6CB4;
    }
}

@media (max-width:665px) {
    .top {
        .buttons {
            gap: 0;
            display: flex;
            flex-wrap: wrap;

            a {
                width: 98%;
                text-align: center;
            }
        }
    }

}

@media (max-width:888px) {

    // body{
    //     overflow-x: scroll;
    // }

    .center {
        overflow-x: scroll;

    }

    table {
        thead {
            tr {
                margin-left: 0 !important;
            }
        }
    }
}

@media (max-width:1200px) {
    .search {
        width: 365px;   

        margin-left: 10px;

    }
}