.top {

    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .buttons {
        gap: 30px;

        a {
            color: white;
            background-color: #3C6CB4;
            padding: 5px 15px;
            border-radius: 20px;
            text-decoration: none;
            margin: 10px;

        }
    }

    .search {
        display: flex;
        align-items: center;
        border: 1px solid gray;
        border-radius: 20px;
        padding: 3px 10px;
        overflow: hidden;

        label {
            font-size: 25px;
        }

        input {
            border: none;
            outline: none;
        }
    }
}

.center {
    margin: 50px 20px;

    table {
        width: 100%;
        thead {

            tr {
                background-color: #3C6CB4;
                padding: 20px 0;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                flex-wrap: nowrap;

                th {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    color: white;
                    // max-width: 155px;
                    height: 35px;
                    width: 12.6%;



                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                }

                th:not(:last-child){
                    border-right: 1px solid white;

                }
                




            }
        }

        tbody {
            tr {

                td {
                    padding: 20px 0;
                }
            }
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;

    .dataTable_paginate {
        span {
            padding: 2px;
        }

        a {
            color: white;
            padding: 10px;
            font-size: 20px;
            background-color: #3C6CB4;
        }
    }
}