.main-container {
    display: flex;
    width: 97%;


    .sidebar {}

    .custom-container {
        //   margin: 0 auto;
        padding: 0 0 0 120px;
        width: 100%;

    }
}


@media (max-width:888px) {
    .custom-container {
        overflow-x: hidden;
        padding: 0px 0 0 90px !important; 
    }
}