.container-custom-sidebar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  position: fixed;
  width: 20%;
  padding: 30px 0 3px 0;
  background-color: #e7ebed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease, transform 0.3s ease;
}

.container-custom-sidebar.closed {
  width: 80px;
}

.container-custom-sidebar .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container-custom-sidebar .bar-logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  padding: 0 10px;
}

.container-custom-sidebar.closed .bar-logo-wrapper {
  justify-content: center;
  width: 100%;


}

.container-custom-sidebar.closed .exit {
  display: flex;
  justify-content: center;

}

.container-custom-sidebar .bar-logo-wrapper img {
  width: 180px;
}

.container-custom-sidebar .menu-wrapper {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  width: 94%;
  gap: 16px;
  padding: 0 10px 0 0;

  button {
    border: 0;
    color: #000;
    background-color: #fff;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container-custom-sidebar.closed .menu-wrapper {
  width: 69%;
}

.container-custom-sidebar .menu-wrapper a {
  display: flex;
  align-items: center;
  color: #000;
  padding: 0 0 0 8px;
  gap: 15px;
  font-size: 18px;
  height: 46px;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.4s ease;
  box-shadow: rgb(0 0 0 / 16%) 0px 5px 15px;
  background: #fff;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: transparent;
  }
}

.container-custom-sidebar.closed .menu-wrapper a {
  padding: 0 !important;
  justify-content: center;
}

.container-custom-sidebar .menu-wrapper a:nth-child(3) {
  font-size: 14px;
}

.container-custom-sidebar .menu-wrapper span {
  text-align: center;
}

.container-custom-sidebar .exit {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #d0d2d6;
  background-image: linear-gradient(315deg, #cccccc 0%, #f5f7fa 74%);
  transition: all 0.5s ease;
}

.modal {
  --bs-modal-margin: 15% !important;

  .modal-dialog {
    max-width: 576px !important;

    .modal-content {

      border-radius: 0 35px 0 35px;

      .modal-header {

        .icon-modal {
          font-size: 33px;
          color: #3C6CB4;
        }

        h2 {
          color: #3C6CB4;
        }
      }

      .modal-body {
        font-size: 18px;
      }

      .modal-footer {

        a,
        button {
          background: #3C6CB4;
          border-radius: 15px;
          padding: 8px 24px;
        }

        button {
          width: 122px;
          color: #fff;
        }

      }
    }
  }
}